@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
    font-family: "Lato", sans-serif;
    color: #424551;
}
body._lock {
    overflow: hidden;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.wrapper>main {
    flex-grow: 1;
}

/*---Обмежуючий контейнер---*/
[class*="__container"] {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
/*=================*/
.page {
}
.page__main {
}
.page__about-us {
}
/*=================*/

.header { 
    padding: 20px 0px;
    color: #424551;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: rgba(255, 63, 58, 0.2);
}
.header__container {
    display: flex;
    align-items: center; 
    gap: 60px;
}
.header__block {
    display: flex;
    align-items: center; 
    gap: 60px;
    flex-grow: 1;
}
.block__icon {

}
.block__menu {
    flex-grow: 1;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
    color: #424551;
    font-weight: 700;
}
.menu__item:hover {
    text-decoration: underline;
}
.menu__link {
}
.block__actions { 
    display: flex;
    align-items: center;
}
.actions-header {
    flex-shrink: 0;
}
.actions-header__button {
    margin-right: 36px;
}

.button {
    font-weight: 700;
    color: #fff;
    line-height: 1.25;
    letter-spacing: 0.5px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    padding: 16px 40px;
}
.button span {
    position: relative;
    z-index: 2;
}
.button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(55.95deg, #e43933 0%, #e35605 100%);
    border-radius: 4px;
    opacity: 0;
}
.button:hover::before {
    opacity: 1;
}
.button--border {
    background: transparent;
    border: 1px solid #FF3F3A;
    transition: all 0.3s ease 0s;
    color: #FF3F3A;
    line-height: 1.25;
    letter-spacing: 0.5px;
    padding: 15px 40px;
    position: relative;
}
.button--border:hover {
    background-color: #FF3F3A;
    border: 1px solid #FF3F3A;
    color:#fff;
}
.actions-header__auth {
    background: url('../img/icons/profile.svg') left no-repeat;
    padding-left: 24px;
    line-height: 1.25;
    color: #424551;
    font-weight: 700; 
}
.actions-header__auth:hover {
    text-decoration: underline;
}

/*----------Tablet-----------*/
@media (max-width: 990.98px) {
    .header__container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
    }
    .header__block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
    }
    .block__icon {
        display: none;
    }
    .block__menu {
        flex-grow: 0;
    }
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 18px;
        line-height: 1.5;
        color: #424551;
        font-weight: 700;
    }
}

/*----------Mobile-----------*/ 
@media (max-width: 767.98px) {
 
    .header__container {
        flex-direction: column;
        gap: 15px;
    }
    .header__block {
        flex-direction: column;
    }
    .block__icon {
        z-index: 53;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        align-self: flex-end;
    }
    .block__icon span, .block__icon::before, .block__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }  
    .block__icon::before, .block__icon::after {
        content: "";
    }
    .block__icon::before {
        top: 0;
    }
    .block__icon::after {
        bottom: 0;
    }
    .block__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .block__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .block__icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .block__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .block__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(26, 19, 19, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
        z-index: 51;
    }
    .block__menu._active {
        left: 0;
    } 
    .block__menu::before {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 92px;
        background-color: rgba(255, 63, 58, 0.2);
        z-index: 52;
    }
  
    .menu__list {
        display: block;
        color: #fff;
        font-size: 24px;
        line-height: 1.5;
    } */
    .menu__item:not(:last-child) {
        margin-bottom: 15px;
    }
    .actions-header__button {
        margin-right: 5px;
    }
}


@media (max-width: 460px) {
    .actions-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}


/*====================*/

.main-block {
    padding: 200px 0 90px 0;
    background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    position: relative;
}
.main-block__container {
    position: relative;
    z-index: 2;
}
.main-block__body {
    padding-bottom: 190px;
}
.main-block__advantages {
}

.body-main {
    display: flex;
}
.body-main__content {
    flex: 0 1 50%;
    padding-right: 40px;
    align-self: center; 
}
.body-main__play {
    font-size: 14px;
    font-weight: 700;
    color: #1E212C;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 16px;
}
.body-main__play:not(:last-child) {
    margin-bottom: 24px;
}
.body-main__play::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    background-color: #FF3F3A;
    border-radius: 50%;
    opacity: 0.12;
    transform: scale(1.6);
    animation: play-circle 1s infinite ease alternate;
}
.body-main__play:hover::after {
    animation-play-state: paused;
} 
.body-main__play::before {
    content: "";
    flex: 0 0 52px;
    width: 52px;
    height: 52px;
    background: #FF3F3A url('../img/icons/play.svg') center no-repeat;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}
.body-main__play:hover::before {
    background-color: #ce332e;
} 
@keyframes play-circle {
    0% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1.8);
    }
}

.body-main__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 1px;
    color: #1E212C;
}
.body-main__title:not(:last-child) {
    margin-bottom: 60px;
}
.body-main__actions {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
}
.body-main__actions:not(:last-child) {
    margin-bottom: 40px;
}
.body-main__media {
    flex: 0 1 50%;
}
.body-main__image {
    max-width: 107.8%;
    transform: translate(7.8%, 0px);
}

.advantages-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.item-advantages {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #1E212C;
}
.item-advantages__circle {
    flex: 0 0 8px;
    width: 8px;
    height: 8px;
    background: #ce332e;
    border-radius: 50%;
}
.item-advantages__value {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
}
.item-advantages__text {
    line-height: 1.5;
}

.decor-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.decor-main__item {
    position: absolute;
}
.decor-main__item--1 {
    background: url('../img/main/decor/01.svg');
    width: 96px;
    height: 96px;
    top: 12%;
    left: 4%;
}
.decor-main__item--2 {
    background: url('../img/main/decor/02.svg');
    width: 284px;
    height: 284px;
    bottom: -9%;
    left: -6%;
}
.decor-main__item--3 {
    background: url('../img/main/decor/03.svg');
    width: 88px;
    height: 47px;
    top: 44.4%;
    left: 41%;
}
.decor-main__item--4 {
    background: url('../img/main/decor/04.svg');
    width: 61px;
    height: 61px;
    bottom: 24%;
    left: 38%;
}
.decor-main__item--5 {
    background: url('../img/main/decor/05.svg');
    width: 96px;
    height: 96px;
    top: -1.5%;
    right: 4%;
    /* transform: rotate(135deg); */
}
.decor-main__item--6 {
    background: url('../img/main/decor/06.svg');
    width: 187px;
    height: 137px;
    bottom: 18%;
    right: -1.5%;
}

/*----------Tablet-----------*/
@media (max-width: 990.98px) {
    .main-block__body {
        padding-bottom: 80px;
    }
    .body-main__title {
    font-size: 48px;
    }
    [class*="__container"] {
        padding: 0 30px 0 30px;
    }
    .button {
        padding: 15px 30px;
    }
    .item-advantages__value {
        font-size: 36px;
        font-weight: 900;
        line-height: 1.3;
    }
    .item-advantages__text {
        line-height: 1.3;
    }
}

/*----------Mobile-----------*/ 
@media (max-width: 767.98px) {
    .page {
        display: block;
    }
    .body-main {
        display: block;
    }
    .body-main__content {
        padding-right: 0px;
    }
    .body-main__title {
        font-size: 40px;
    }
    .body-main__title:not(:last-child) {
        margin-bottom: 40px;
    }

    .body-main__media {
        display: flex;
        justify-content: center;
    }
    .body-main__image {
       max-width: 60%;
    }
    .body-main__actions {
        justify-content: center;
    }

    .item-advantages {
        flex: 1 1 45%;

    }
    .item-advantages__circle {
        display: none;
    }


    .decor-main {
        display: none;
    }
}


/*=====================*/

.about-us {
    padding: 90px 0 90px 0;
}
.about-us__container {
}
.about-us__block {
}

.block-body {
    display: flex;
}
.block-body__images {
    padding-right: 135px;
    flex: 0 1 60%;
}
.block-body__image {
    max-width: 100%;
    border-radius: 4px;
}
.block-body__content {
    flex: 0 1 40%;
}
.block-body__text {
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    color: #1E212C;
}
.block-body__text:not(:last-child) {
    margin-bottom: 8px;
}
.block-body__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    color: #1E212C;
}
.block-body__title:not(:last-child) {
    margin-bottom: 40px;
}
.block-body__list:not(:last-child) {
    margin-bottom: 22px;
}
.block-body__list>li:not(:last-child) {
    margin-bottom: 12px;
}
.block-body__list>li {
    position: relative;
    padding-left: 32px;
    color: #424551; 
    line-height: 1.6;
}
.block-body__list>li::before {
    content: url(../img/icons/check.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
}
.block-body__list>li:hover::before {
    transform: scale(1.5);
}

.block-body__button:not(:last-child) {
    margin-bottom: 40px;
}

/*----------Tablet-----------*/
@media (max-width: 990.98px) {
    .about-us {
        padding: 50px 0;
    }
    .block-body__images {
        padding-right: 85px;
    }
    .block-body__title:not(:last-child) {
        margin-bottom: 30px;
    }
    .block-body__title {
        font-size: 36px;
    }
}

/*----------Mobile-----------*/ 
@media (max-width: 767.98px) {
    .main-block {
    padding: 200px 0 40px 0;
    }
    .block-body {
        display: block;
    }
    .main-block__body {
        padding-bottom: 30px;
    }
    .block-body__images {
        padding: 10px 0px 15px 0px;
    }
}

/*============================*/

.courses-types {
    padding: 90px 0;
    color: #1E212C;
}

.page__courses {
}

.courses-types__block {
}
.block-courses {
    display: flex;
    flex-direction: column;
}
.block-courses__text {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.block-courses__text:not(:last-child) {
    margin-bottom: 8px;
}
.block-courses__actions {
}
.actions-courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.actions-courses__title {
    font-weight: 900;
    line-height: 1.3;
    font-size: 46px;
}
.actions-courses__button {
}

.block-courses__cards {
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.cards__item {
    flex: 0 1 48%;
}
.item-cards {
    display: flex;
    align-items: center;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.item-cards__media {
    min-width: 214px;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 214px 0px;
}
.item-cards__media img {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.item-cards__content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    row-gap: 20px;
    min-height: 100%;
}
.item-cards__subtitle {
    display: flex;
    align-self: flex-start;
    padding: 1px 8px;
    background: #03CEA4;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
}
.item-cards__subtitle--marketing {
    background: #03CEA4;
}
.item-cards__subtitle--management {
    background: #5A87FC;
}
.item-cards__subtitle--hr {
    background: #F89828;
}
.item-cards__subtitle--marketing {
    background: #5A87FC;
}
.item-cards__subtitle--management {
    background: #03CEA4;
}
.item-cards__subtitle--design {
    background: #F52F6E;
}

.item-cards__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}
.item-cards__options {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.item-cards__price {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #FF4242;
}
.item-cards__symbol {
    color: #787A80;
}
.item-cards__author {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #787A80;
}

/*---------------------*/
@media (max-width: 1083.98px) {
    .courses-types {
        padding: 50px 0;
    }
    .actions-courses {
        padding-bottom: 30px;
    }
    .actions-courses__title {
        font-size: 36px;
    }
    .cards__item {
        flex: 1 1 30%;
        flex-direction: column;
    }
    .item-cards__content {
        align-items: center;
        text-align: center;
    }
    .item-cards__subtitle {
        align-self: center;
    }
}

/*---------------------*/
@media (max-width: 767.98px) {

    .item-cards__title {
        font-size: 18px;
    }
    .item-cards__author {
        font-size: 16px;
    }
    .actions-courses {
        flex-wrap: wrap;
        row-gap: 15px;
    }
}